.contact {
    padding: 80px 5%;
    background: #f0fbfc;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #80deea;
    outline: none;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: #006064;
    padding: 12px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: #00838f;
}
