.projects {
    padding: 80px 5%;
    background: white;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background: #f0fbfc;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 131, 143, 0.15);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 131, 143, 0.25);
}

.project-card h3 {
    font-size: 24px;
    color: #003344;
    margin-bottom: 12px;
}

.project-card p {
    color: #004d40;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}

.project-btn {
    text-decoration: none;
    background: #00838f;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: 500;
}

.project-btn:hover {
    background: #004d40;
}
